<h1>Doctors</h1>

<p class="notice">On duty: <%= @on_duty %> <%= notice ? " - #{notice}" : nil %></p>

<table id="doctors">
  <% @doctors.each do |doctor| %>
    <div style="display: flex; justify-content: space-between">
      <%= link_to doctor.name, doctor %>

      <% if doctor.on_duty %>
        <%= button_to 'Check Out', check_out_doctor_path(doctor) %>
      <% else %>
        <%= button_to 'Check In', check_in_doctor_path(doctor), style: 'background-color: grey;' %>
      <% end %>
    </div>
  <% end %>
</table>

<%= link_to "New doctor", new_doctor_path %>
